body, html {
    font-size: 24px;
    font-family: 'Sen', sans-serif;
    background: #996fcc;
    color: rgba(69, 17, 212, 0.753);
}

input:focus {
    outline: none;
}

/* Whole container */
.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Display and Controls Container */
.pomodoro-display {
    display: grid;
    grid-template-areas: 
    "time time"
    "play stop";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85% 15%;
    justify-items: center;
    align-items: center;
    margin: 2em 0em 3em 0em;
    width: 20em;
    height: 10em;
    background: #996fcc;;
    box-shadow: 14px 14px 28px #77579f, 
                -14px -14px 28px #bb87f9;
    border-radius: 40px;
    padding: 1em;

}

.pomodoro-display > .display-play-pause {
    grid-area: play;
    background: #996fcc;;
    border-radius: 75px;
    box-shadow: 7px 7px 21px #77579f, 
                -7px -7px 21px #bb87f9;
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
}

.display-play-pause:active {
    box-shadow: inset 7px 7px 21px #77579f, 
                inset -7px -7px 21px #bb87f9;
}

.pomodoro-display > .display-time {
    grid-area: time;
    font-size: 5em;
}

.pomodoro-display > .display-stop {
    grid-area: stop;
    background: #996fcc;;
    border-radius: 75px;
    box-shadow: 7px 7px 21px #77579f, 
                -7px -7px 21px #bb87f9;
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
}

.display-stop:active {
    box-shadow: inset 7px 7px 21px #77579f, 
                inset -7px -7px 21px #bb87f9;
}
/* Settings container */
.pomodoro-settings {
    display: flex;
    flex-direction: row;
    background: #996fcc;;
    box-shadow:  10px 10px 24px #77579f, 
    -10px -10px 24px #bb87f9;
    border-radius: 10px;
}

.settings-session {
    display: grid;
    grid-template-areas: 
    "session session session"
    "up session-settings-time down";
    justify-items: center;
    align-items: center;
}

.settings-session > .settings-session-label { 
    grid-area: session;
    margin: 0em 1em 0em 1em;
}

.settings-session > .session-up-btn {
    grid-area: up;
    width: 1.5em;
    height: 1.5em;
}

.settings-session > .settings-session-time {
    grid-area: session-settings-time;
}

.settings-session > .session-down-btn {
    grid-area: down;
    width: 1.5em;
    height: 1.5em;
}

.settings-break {
    display: grid;
    grid-template-areas: 
    "break break break"
    "up session-break-time down";
    justify-items: center;
    align-items: center;
}

.settings-break > .settings-break-label {
    grid-area: break;
    margin: 0em 1em 0em 1em;
}

.settings-break > .break-up-btn {
    grid-area: up;
    width: 1.5em;
    height: 1.5em;}

.settings-break > .settings-break-time {
    grid-area: session-break-time;
}


.settings-break > .break-down-btn {
    grid-area: down;
    width: 1.5em;
    height: 1.5em;
}
