body, html {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background: #307595;
    color: #000405;
}

/* Whole container */
.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Display and Controls Container */
.pomodoro-display {
    display: grid;
    grid-template-areas: 
    "play reset"
    "time time"
    "pause stop";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    align-items: center;
    margin: 3em 0em 3em 0em;
    width: 20em;
    height: 10em;
    background: #307595;
    box-shadow:  11px 11px 22px #275f79, 
    -11px -11px 22px #398bb1;
    border-radius: 20px;

}

.pomodoro-display > .display-play {
    grid-area: play;
    width: 3em;
    height: 3em;
}

.pomodoro-display > .display-reset {
    grid-area: reset;
    width: 3em;
    height: 3em;
}

.pomodoro-display > .display-time {
    grid-area: time;
    font-size: 5em;
}

.pomodoro-display > .display-pause {
    grid-area: pause;
    width: 3em;
    height: 3em;
}

.pomodoro-display > .display-stop {
    grid-area: stop;
    width: 3em;
    height: 3em;
}

/* Settings container */
.pomodoro-settings {
    display: flex;
    flex-direction: row;
    background: #307595;
    box-shadow:  11px 11px 22px #275f79, 
    -11px -11px 22px #398bb1;
    border-radius: 10px;
}

.settings-session {
    display: grid;
    grid-template-areas: 
    "session session session"
    "up session-settings-time down";
    justify-items: center;
    align-items: center;
}

.settings-session > .settings-session-label { 
    grid-area: session;
    margin: 0em 1em 0em 1em;
}

.settings-session > .session-up-btn {
    grid-area: up;
    width: 1.5em;
    height: 1.5em;
}

.settings-session > .settings-session-time {
    grid-area: session-settings-time;
}

.settings-session > .session-down-btn {
    grid-area: down;
    width: 1.5em;
    height: 1.5em;
}

.settings-break {
    display: grid;
    grid-template-areas: 
    "break break break"
    "up session-break-time down";
    justify-items: center;
    align-items: center;
}

.settings-break > .settings-break-label {
    grid-area: break;
    margin: 0em 1em 0em 1em;
}

.settings-break > .break-up-btn {
    grid-area: up;
    width: 1.5em;
    height: 1.5em;}

.settings-break > .settings-break-time {
    grid-area: session-break-time;
}


.settings-break > .break-down-btn {
    grid-area: down;
    width: 1.5em;
    height: 1.5em;
}
