body, html {
    font-size: 24px;
    font-family: 'Sen', sans-serif;
    background: #cecece;
    color: rgb(0, 0, 0);
}

input:focus {
    outline: none;
}

/* Whole container */
.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Display and Controls Container */
.pomodoro-display {
    display: grid;
    grid-template-areas: 
    "time time"
    "play stop";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85% 15%;
    justify-items: center;
    align-items: center;
    margin: 2em 0em 3em 0em;
    width: 20em;
    height: 10em;
    background: #cecece;
    box-shadow: 18px 18px 36px #afafaf, 
    -18px -18px 36px #ededed;
    border-radius: 65px;
    padding: 1em;

}

.pomodoro-display > .display-play-pause {
    grid-area: play;
    background: #cecece;
    border-radius: 75px;
    box-shadow: 6px 6px 12px #777777, 
    -6px -6px 12px #ffffff;
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
}

.display-play-pause:active {
    box-shadow: inset 7px 7px 21px #777777, 
                inset -7px -7px 21px #ffffff;
}

.pomodoro-display > .display-time {
    grid-area: time;
    font-size: 5em;
}

.pomodoro-display > .display-stop {
    grid-area: stop;
    background: #cecece;
    border-radius: 75px;
    box-shadow: 6px 6px 12px #777777, 
    -6px -6px 12px #ffffff;
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
}

.display-stop:active {
    box-shadow: inset 7px 7px 21px #777777, 
                inset -7px -7px 21px #ffffff;
}
/* Settings container */
.pomodoro-settings {
    display: flex;
    flex-direction: row;
    background: #cecece;
    box-shadow:  12px 12px 24px #676767, 
    -12px -12px 24px #ffffff;
    border-radius: 10px;
}

.settings-session {
    display: grid;
    grid-template-areas: 
    "session session session"
    "up session-settings-time down";
    justify-items: center;
    align-items: center;
}

.settings-session > .settings-session-label { 
    grid-area: session;
    margin: 0em 1em 0em 1em;
}

.settings-session > .session-up-btn {
    grid-area: up;
    width: 1.5em;
    height: 1.5em;
}

.settings-session > .settings-session-time {
    grid-area: session-settings-time;
}

.settings-session > .session-down-btn {
    grid-area: down;
    width: 1.5em;
    height: 1.5em;
}

.settings-break {
    display: grid;
    grid-template-areas: 
    "break break break"
    "up session-break-time down";
    justify-items: center;
    align-items: center;
}

.settings-break > .settings-break-label {
    grid-area: break;
    margin: 0em 1em 0em 1em;
}

.settings-break > .break-up-btn {
    grid-area: up;
    width: 1.5em;
    height: 1.5em;}

.settings-break > .settings-break-time {
    grid-area: session-break-time;
}


.settings-break > .break-down-btn {
    grid-area: down;
    width: 1.5em;
    height: 1.5em;
}
